@-moz-document url-prefix("https://www.google.com/search") {
/* --- 居中风格 --- */
/* logo，搜索框 居中 */
.srp #tsf {
  margin: 0 auto;
}

#tsf div[jscontroller] {
  margin-left: auto;
}

/* 搜索类型导航 居中 */
/* #hdtb #hdtbSum,
#hdtb #htdbMenus {
  width: 800px;
  min-width: 800px;
  margin: 0 auto;
  margin-left: calc(50% - 550px);
} */
/* 搜索结果统计 居中 */
/* 搜索结果 居中 */
.mw {
  margin: 0 auto;
}

/* -------------- 搜素结果 ------------- */
/* 排列：搜索结果两列分布 */
#res {
  column-count: 2;
  column-gap: 0;
}

/* 避免分列后，分裂初的 block 被拆分 */
#rso .srg .g,
#rso div g-section-with-header,
#rso > div > .g,
#rso .g.obcontainer,
#rso .g.g-blk {
  display: inline-block;
}

/* 去掉原有的，同类型的搜索结果面板的 margin-top，避免多列显示时，各列顶部不齐 */
#rso {
  margin-top: 0;
}

/* 各个搜索结果在父元素中居中 */
#rso .srg .g,
#rso div g-section-with-header,
#rso > div > .g,
#rso .g.obcontainer,
#rso .g.g-blk,
#rso div table {
  position: relative;
  margin-left: calc(50% - 300px);
}

#center_col,
#res {
  padding: 0;
  margin: 0 !important;
  width: 1280px !important;
}

/* 搜索结果条目样式 */
/* 呈现卡片化效果 */
#rso .srg .g,
#rso div g-section-with-header,
#rso > div > .g,
#rso .g.obcontainer,
#rso .g.g-blk,
#rso div table {
  margin-top: 5px;
  padding: 20px;
  width: 558px;
  background-color: #fff;
  border: 1px solid #dfe1e5;
  border-radius: 10px;
  overflow: hidden;
}

/* 样式：悬浮效果 */
#rso .srg .g:hover,
#rso div g-section-with-header:hover,
#rso > div > .g:hover,
#rso .g.obcontainer:hover,
#rso .g.g-blk:hover,
#rso div table:hover {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0)
}

/* 谷歌学术的复合条目 */
#rso div table {
  margin-top: 0;
  display: block;
}

/* 去掉复合条目的内部边框 */
#rso .g.obcontainer .vk_c,
#rso .g.g-blk .kp-blk,
#rso .g .exp-outline {
  border: none;
}

/* 搜索结果在链接和文本间添加分割线 */
#search .g .rc .r {
  margin-bottom: 10px;
  border-bottom: 1px solid #DFE1E5;
}

/* 解决 Images for KEYWORD 图片溢出问题*/
.birrg .ivg-i,
.birrg g-inner-card,
.birrg g-inner-card img,
.birrg g-more-button > g-fab {
  position: static;
}
/* 不选用非单词的 class 选择器，优先级不够只能强制 */
.birrg g-more-button > g-fab > span {
  position: relative!important;
  top: 17px!important;
  left: 17px!important;
}

/* Videos 聚合卡片播放按钮可以被隐形点击，找不到解决方案，只好先隐藏 */
g-section-with-header g-scrolling-carousel g-inner-card a div[jscontroller] div[jsname] {
  display: none;
}

/* -------------- extrares --------------- */
/* 与搜索结果同宽 */
#extrares {
  padding: 20px 0 0 0;
  margin: 0 !important;
  width: 1280px !important;
  border-top: 2px solid #f7f7f7;
}

/* 分列 */
#extrares {
  column-count: 2;
  column-gap: 0;
}

/* 与搜索结果以一样的条目样式 */
#bres .g,
#brs {
  margin-left: calc(50% - 300px);
  margin-bottom: 0;
  padding: 20px;
  width: 558px;
  overflow: auto;
  display: inline-block;
}

/* 相关搜索：样式 */
#brs {
  width: 558px;
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #dfe1e5;
  border-radius: 10px;
  overflow: hidden;
}

/* 搜索结果底下 相关搜索条目：样式、横向排列 */
#brs .brs_col p {
  display: inline-block;
  margin-right: 10px;
  background-color: #f7f7f7;
}

#brs a {
  padding: 3px 16px;
}


/* ------------------------------ */
/* 翻页 居中 */
#foot {
  margin: 0 auto;
}

/* 底栏 居中 */
.fbar,
.fbar div,
.fbar span {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  text-align: center;
}
}

@-moz-document url-prefix("https://www.google.com/search") {
/* 为搜索结果添加序号 */
#res {
  counter-reset: gnumber;
}

#rso .srg .g::before,
#rso div g-section-with-header::before,
#rso > div > .g::before,
#rso .g.obcontainer::before,
#rso .g.g-blk::before,
#rso div table::before {
  counter-increment: gnumber;
  content: counter(gnumber);
  position: absolute;
  right: 4px;
  top: 2px;
  color: #eee;
  font-size: 1.4em;
}

/* ------------------------------ */
/* 特殊内容展示处理 */
/* 右侧多媒体聚合内容的显示 */
#rhs {
  position: absolute;
  background-color: #fff;
  border: 1px solid #dfe1e5;
  border-radius: 14px;
  top: 0;
  right: -20px;
  overflow: auto;
  z-index: 30;
}

/* 去除默认样式影响 */
#rhs {
  margin-left: 0;
}

/* 动态显示 */
#rhs {
  height: 28px;
  min-width: 28px;
  padding-bottom: 0;
  transition: 0.3s;
}

#rhs:hover {
  border-radius: 2px;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

#rhs:hover {
  height: 600px;
  padding-left: 20px;
  padding-top: 20px;
  min-width: 480px;
}

#rhs > div {
  display: none;
}


#rhs:hover > div {
  display: block;
}
}
