@-moz-document url-prefix("https://www.google.com/search") {
/* --- 居中风格 --- */
/* logo，搜索框 居中 */
.srp #tsf {
  margin: 0 auto;
}

#tsf div[jscontroller] {
  margin-left: auto;
}

/* 搜索类型导航 居中 */
/* #hdtb #hdtbSum,
#hdtb #htdbMenus {
  width: 800px;
  min-width: 800px;
  margin: 0 auto;
  margin-left: calc(50% - 550px);
} */
/* 搜索结果统计 居中 */
/* 搜索结果 居中 */
.mw {
  margin: 0 auto;
}


/* 各个搜索结果在父元素中居中 */
#search div g-section-with-header,
#search .g {
  position: relative;
  margin-left: calc(50% - 300px);
  margin-top: 5px;
  padding: 20px;
  width: 558px;
  overflow: auto;
}

#center_col,
#res {
  padding: 0;
  margin: 0 !important;
  width: 1280px !important;
}

/* extrares */
/* 与搜索结果同宽 */
#extrares {
  padding: 20px 0 0 0;
  margin: 0 !important;
  width: 1280px !important;
  border-top: 2px solid #f7f7f7;
}
/* 分列 */
#extrares {
  column-count: 2;
  column-gap: 0;
}

#bres .g,
#brs {
  margin-left: calc(50% - 300px);
  margin-bottom: 0;
  padding: 20px;
  width: 558px;
  overflow: auto;
  display: inline-block;
}

/* 相关搜索：样式 */
#brs {
  width: 558px;
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #dfe1e5;
  border-radius: 10px;
  overflow: hidden;
}

/* #brs h3.med,
#brs .card-section {
  text-align: center !important;
} */
/* 搜索结果底下 相关搜索条目：样式、横向排列 */
#brs .brs_col p {
  display: inline-block;
  margin-right: 10px;
  background-color: #f7f7f7;
}

#brs a {
  padding: 3px 16px;
}
/* ------------------------------ */
/* 翻页 居中 */
#foot {
  margin: 0 auto;
}

/* 底栏 居中 */
.fbar,
.fbar div,
.fbar span {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  text-align: center;
}


/* --- 排列 --- */
/* 搜索结果两列分布 */
#res {
  column-count: 2;
  column-gap: 0;
}

/* 避免分列后，分裂初的 block 被拆分 */
#search div g-section-with-header,
#search .g {
  display: inline-block;
}

/* 去掉原有的，同类型的搜索结果面板的 margin-top，避免多列显示时，各列顶部不齐 */
#rso {
  margin-top: 0;
}


/* --- 样式部分 --- */
/* 相关搜索、翻页板 样式 */
/* #extrares,
#foot {
  padding: 1px 30px;
  margin-bottom: 10px;
}
 */
/* 搜索结果条目样式 */
/* 呈现卡片化效果 */
#search div g-section-with-header,
#search .g {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #dfe1e5;
  border-radius: 10px;
  overflow: hidden;
}

#search .g:hover {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0)
}

/* 搜索结果在链接和文本间添加分割线 */
#search .g .rc .r {
  margin-bottom: 10px;
  border-bottom: 1px solid #DFE1E5;
}

/* 为搜索结果添加序号 */
#res {
  counter-reset: gnumber;
}

#search .g::before {
  counter-increment: gnumber;
  content: counter(gnumber);
  position: absolute;
  right: 10px;
  top: 5px;
  color: #eee;
  font-size: 2.5em;
}
}

@-moz-document url-prefix("https://www.google.com/search") {
/* ------------------------------ */
/* 特殊内容展示处理 */
/* 右侧多媒体聚合内容的显示 */
#rhs {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-radius: 14px 0 0 14px;
  top: 0;
  right: -20px;
  overflow: auto;
}

/* 去除默认样式影响 */
#rhs {
  margin-left: 0;
}

/* 动态显示 */
#rhs {
  height: 28px;
  min-width: 28px;
  padding-bottom: 0;
  transition: 0.3s;
}

#rhs:hover {
  height: 600px;
  padding-left: 20px;
  padding-top: 40px;
  min-width: 480px
}

#rhs > div {
  display: none;
}


#rhs:hover > div {
  display: block;
}
}
